@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Outfit", sans-serif;
    color: #000000;
  }

  body{
    background-color: black;
    overflow-x: hidden;
    
  }

  
}

@layer components{
  .input-box{
    @apply w-full text-sm bg-transparent text-white border-[1.5px] px-5 py-3 rounded mb-4 outline-none;
  }

  .btn-primary {
    @apply w-full text-sm  bg-white/10 backdrop-blur-lg drop-shadow hover:bg-white/5 transition-all ease-in-out text-white;
  }
  .icon-btn{
    @apply text-xl text-slate-300 cursor-pointer hover:text-primary
  }
  .input-label{
    @apply text-xs text-white
  }
}